#flex
{
	display: flex;
	background: rgba(0, 165, 255, 0.7);
	width: 40%;
	height: 50%;
	margin: auto;
	margin-top: 150px;
	border-radius: 7px;
}
#root
{
	margin: auto;
}
.input1
{
	margin: 10px;
}
.input2
{
	margin: 10px;
}
.symbols
{
	display: flex;
	justify-content: space-around;
	margin: 10px;
}
.resultAndClear
{
	display: flex;
	justify-content: space-around;
	margin: 10px;

}